<div class="container-fluid no-gutters">
      <nav class="navbar navbar-expand-lg navbar-default ">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link text-white">Questions?
              <u>Call 1-519-630-5715</u>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item text-white">
            <a class="nav-link">
              <u>Terms and Conditions</u>
            </a>
          </li>
          <li class="navbar-item text-white">
            <a class="nav-link">
              <u>Privacy Policy</u>
            </a>
          </li>
          <li class="navbar-item text-white">
            <a class="nav-link">
              <u>Legal</u>
            </a>
          </li>
          <li class="navbar-item text-white">
            <a class="nav-link">
              <u>Accessibility</u>
            </a>
          </li>
        </ul>
      </nav>
</div>
