<div class="container-fluid">

    <div class="row">
      <div class="col-sm-2" style="background: grey"></div>
      <div class="col bg-light">

        <div class="" style="background-color:orange;">Registration Code Released</div>
        <div class="col-sm-8 " style="padding:50px">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

              <div class="media ">

                <img class="align-self-start mr-3" src="../../../assets/profile_ic.svg" alt="Generic placeholder image">
                <label style="padding-left: 25px">
                  <b>Jayden</b>
                </label>
              </div>
              <button class="btn btn-dark border-dark">Impersonate</button>
              <button class="btn btn-dark border-dark">Email/Password Reset</button>

              <table class="table" style="padding:50px">
                <tbody>

                  <tr>
                    <th>Status Code:</th>
                    <td>Generated
                      <a href=# style="padding-left:10px ">Regenerate</a>
                    </td>

                  </tr>
                  <tr>
                    <th>Group ID:</th>
                    <td>32323r</td>
                  </tr>
                  <tr>
                    <th>Subscriber ID</th>
                    <td>johncarter@mail.com</td>

                  </tr>
                  <tr>
                    <th>Date of Birth</th>
                    <td>DOB</td>

                  </tr>
                  <tr>
                    <th>Postal Code</th>
                    <td>dsd</td>

                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>johncarter@mail.com</td>

                  </tr>
                </tbody>
              </table>

            </div>

          </div>


        </div>

      </div>
      <div class="col-sm-2" style="background: grey"></div>
    </div>

    <div class="row">

      <div class="col h-100" style="background-color:grey;"></div>

    </div>
  </div>
