<div class="row mx-auto no-gutters">
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <div class="card border-0 pb-5 rounded-0">
      <div class="bg-white text-center jumbotron mx auto">
        <img class="img-fluid" src="../../../assets/ic_verified.svg">
        <p class="h3" translate>You are successfully Registered for paperless documents</p>
        <p class="h6" translate>Check Your Email To Validate Your Account</p>
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
</div>
