<div class="container-fluid no-gutters bg-white">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-10">
      <div class="card border-0 rounded-0 bg-white">
        <div class="card-body rounded-0 bg-white jumbotron">
          <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPasswordForm.valid ? onFormSubmit() : ''">
            <div class="p-2">
              <p class="h3" translate>Recover Your Password</p>
              <div class="form-group">
                <label for="name">
                  <b translate>Identification Number</b>*
                </label>
                <input type="text" class="form-control w-50" id="identificationNumber" #idnumber autocomplete="off" formControlName="indentificationNumber">
              </div>
              <div class="form-group">
                <label for="name">
                  <b translate>Email Address</b>
                </label>
                <input type="text" class="form-control w-75 " id="emailAddress" #email autocomplete="off" formControlName="emailAddress">
              </div>
            </div>
            <div class="p-2">
              <button type="submit" class="btn acx-btn bg-success text-white" (click)=recoverPassword();>
                <span translate>Recover Password</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
